export PATH=$HOME/src/lart/build-lart/lartcc:$PATH

export LIBCXX_DATAFLOW_DIR=~/opt/libcxx-dataflow/
export LART_INSTALL_DIR=~/opt/lart
export SVF_INSTALL_DIR=~/opt/svf/
export LLVM_INSTALL_DIR=/usr/lib/llvm-12/
export VCPKG_TOOLCHAIN=~/opt/vcpkg/scripts/buildsystems/vcpkg.cmake
